@import './var.less';

* {
  box-sizing: border-box;
}
@keyframes slide-down {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.c-select {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  list-style: none;
  position: relative;
  display: flex;
  cursor: pointer;
  height: 44px;
  background: #fff;
  border: 1px solid #d8d8d8;
  width: 100%;
  &:hover {
    border-color: #333;
  }
  &__search {
    padding-right: 44px;
  }
  &__search,
  &__selector {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &__item {
    padding-left: 12px;
    flex: 1;
  }
  &__placeholder {
    color: #999;
  }
  // 下拉内容体
  &__content {
    position: absolute;
    top: 43px;
    right: 0;
    left: 0;
    color: #333;
    font-size: 14px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 0;
    border: 1px solid #d8d8d8;
    border-top: 0;
    transition: max-height 0.3s ease-out;
    &.is-open {
      max-height: 250px;
      animation: slide-down 0.3s ease-in;
      transition: max-height 0.3s ease-in;
      transform-origin: 50% 0;
    }
    // 斑马线风格
    li {
      height: 44px;
      padding: 0 13px;
      width: 100%;
      line-height: 44px;
      &:not(:last-child) {
        border-bottom: 1px solid #d8d8d8;
      }
    }
  }
  &__arrow {
    border-left: 1px solid #d8d8d8;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    .c-icon {
      transition: all 0.3s;
    }
    &.is-rotate {
      .c-icon {
        transform: rotate(-180deg);
      }
    }
  }
  // 斑马线风格
  &--zebra {
    .c-select {
      &__content {
        background: #fafafa;
        // 斑马线风格
        li {
          &:hover {
            background: #f2f2f2;
          }
          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }
}
