.c-pagination {
  font-size: 12px;
  border-bottom: 1px solid #e3e3e3;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1;
  text-align: center;

  &__item {
    display: inline-block;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    padding: 16px 28px;

    &--active {
      color: #454545;
      border-bottom: 4px solid #454545;
    }

    &--ellipses,
    &--active {
      cursor: auto;
    }
  }

  &__prev,
  &__next {
    width: 6px;
    height: 10px;
  }
}
