@import '../style/font.less';

.c-checkbox {
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  .muli;

  &--disabled {
    cursor: not-allowed;
  }

  &--horizontal {
    margin-right: 16px;
  }

  &__icon {
    flex: none;
    font-size: 24px;
    line-height: 1em;
    cursor: pointer;

    .c-icon {
      display: block;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      color: transparent;
      font-size: 12px;
      line-height: 1.25;
      text-align: center;
      border: 1px solid #e8e8e8;
      background: #fff;
    }

    &--checked {
      .c-icon {
        color: #fff;
        background-color: #333;
        border-color: #333;
      }
    }

    &--disabled {
      cursor: not-allowed;

      .c-icon {
        background-color: #fafafa;
        border-color: #d8d8d8;
      }
    }

    &--disabled&--checked {
      .c-icon {
        color: #c8c9cc;
      }
    }
  }

  &__label {
    margin-left: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #333;

    &--disabled {
      color: #969799;
    }
  }
}
