@import '../style/font.less';

.c-dialog {
  top: 45%;
  left: 50%;
  overflow: hidden;
  background-color: #fff;
  backface-visibility: hidden;
  transition: 0.3s;
  transition-property: transform, opacity;

  @media (max-width: 767.9px) {
    width: 312px;
    max-height: 90vh;
  }

  @media (min-width: 768px) {
    max-width: 896px;
    min-width: 440px;
  }

  &__content {
    color: #333;
    text-align: center;

    @media (max-width: 767.9px) {
      padding: 40px 24px 32px;
    }

    @media (min-width: 768px) {
      padding: 40px;
    }
  }

  &__title {
    letter-spacing: 1px;
    .muli-bold;

    @media (min-width: 768px) {
      font-size: 18px;
      line-height: 23px;
    }

    @media (max-width: 767.9px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__message {
    flex: 1;
    max-height: 60vh;
    overflow-y: auto;
    font-size: 14px;
    line-height: 21px;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-overflow-scrolling: touch;
    .muli-semibold;

    &--has-title {
      .muli;

      @media (max-width: 767.9px) {
        font-size: 12px;
        margin-top: 16px;
      }

      @media (min-width: 768px) {
        margin-top: 20px;
      }
    }
  }

  &__footer {
    display: flex;
    overflow: hidden;
    user-select: none;

    @media (max-width: 767.9px) {
      margin-top: 24px;
    }

    @media (min-width: 768px) {
      margin-top: 32px;
    }
  }

  &__confirm,
  &__cancel {
    flex: 1;
    height: 44px;
  }

  &__cancel {
    margin-right: 10px;
  }

  &-bounce-enter-from {
    transform: translate3d(-50%, -50%, 0 scale(0.7));
    opacity: 0;
  }

  &-bounce-leave-active {
    transform: translate3d(-50%, -50%, 0 scale(0.9));
    opacity: 0;
  }
}
