@import '../style/font.less';

.c-progress {
  display: flex;
  align-items: center;
  font-size: 12px;
  .muli-light;

  &__text {
    flex-basis: 60px;
    margin-right: 16px;
    color: #666;
  }

  &__track {
    position: relative;
    flex: 1;
    height: 8px;
    background: #f0f0f0;
  }

  &__portion {
    position: absolute;
    left: 0;
    height: 100%;
    background: #000;
  }

  &__percentage {
    margin-left: 16px;
    flex-basis: 45px;
    text-align: right;
    color: #333;
  }
}
