.c-cell-group {
  background-color: #fff;

  &--inset {
    margin: 0 16px;
    border-radius: 8px;
    overflow: hidden;
  }

  &__title {
    padding: 16px 16px 8px;
    color: #969799;
    font-size: 14px;
    line-height: 16px;

    &--inset {
      padding: 16px 16px 8px;
    }
  }
}
