@import './var.less';
@import '../style/font.less';

.c-rate {
  display: inline-flex;
  cursor: pointer;
  user-select: none;

  &__item {
    position: relative;
  }

  &__icon {
    display: block;
    width: 1em;
    line-height: 1em;
    color: @rate-icon-void-color;

    &--half {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
    }

    &--small {
      font-size: 14px;
    }

    &--normal {
      font-size: 16px;
    }

    &--large {
      font-size: 24px;
    }

    &--full {
      color: @rate-icon-full-color;
    }

    &--disabled {
      color: @rate-icon-disabled-color;
    }
  }

  &__text {
    margin-left: 4px;
    font-size: 12px;
    line-height: 15px;
    color: #333;
    .muli-light;
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--readonly {
    cursor: default;
  }
}
