@import '../style/font.less';

.c-stepper {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  user-select: none;
  background: #fff;
  border: 1px solid #eaeaea;
  color: #333;

  &__button {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
    height: 30px;
    padding: 0 9px;
    background: 0 0;

    &--disabled {
      color: #ededed;
      cursor: not-allowed;
    }
  }

  &__input {
    display: inline-block;
    width: 24px;
    padding: 0;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    letter-spacing: normal;
    background: 0 0;
    border: none;
    .muli-semibold;

    &--disabled {
      color: #a9a9a9;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
  }
}
