@import './fonts/Muli.less';
@import './fonts/Muli-Light.less';
@import './fonts/Muli-Bold.less';
@import './fonts/Muli-SemiBold.less';
@import './fonts/Muli-ExtraBold.less';

.c-muli {
  .muli();
}

.c-muli-light {
  .muli-light();
}

.c-muli-bold {
  .muli-bold();
}

.c-muli-semibold {
  .muli-semibold();
}

.c-muli-extrabold {
  .muli-extrabold();
}

.muli() {
  font-family: 'Muli', sans-serif;
}

.muli-light() {
  font-family: 'Muli-Light', sans-serif;
}

.muli-bold () {
  font-family: 'Muli-Bold', sans-serif;
}

.muli-semibold () {
  font-family: 'Muli-SemiBold', sans-serif;
}

.muli-extrabold() {
  font-family: 'Muli-ExtraBold', sans-serif;
}
