.c-muli {
  .muli;
}

.c-muli-light {
  .muli-light;
}

.c-muli-bold {
  .muli-bold;
}

.c-muli-semibold {
  .muli-semibold;
}

.c-muli-extrabold {
  .muli-extrabold;
}

.muli() {
  font-family: 'Muli', sans-serif;
  .font-smoothing;
}

.muli-light() {
  font-family: 'Muli-Light', sans-serif;
  .font-smoothing;
}

.muli-bold () {
  font-family: 'Muli-Bold', sans-serif;
  .font-smoothing;
}

.muli-semibold () {
  font-family: 'Muli-SemiBold', sans-serif;
  .font-smoothing;
}

.muli-extrabold() {
  font-family: 'Muli-ExtraBold', sans-serif;
  .font-smoothing;
}

.font-smoothing {
  -webkit-font-smoothing: antialiased;
}
