@import './var.less';
@import '../style/font.less';

.c-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: @button-default-height;
  margin: 0;
  padding: 0;
  font-size: @button-default-font-size;
  line-height: @button-default-line-height;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  transition: opacity @animation-duration-fast;
  letter-spacing: 1px;
  -webkit-appearance: none;
  z-index: 1;
  .muli-bold;

  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: -1;
  }

  &:active::before {
    opacity: 0.1;
  }

  &--loading,
  &--disabled {
    &::before {
      display: none;
    }
  }

  &--primary {
    color: @button-primary-color;
    background-color: @button-primary-background-color;
    border: @button-border-width solid @button-primary-border-color;

    &.c-button--cover {
      .cover(@button-primary-color, @button-primary-background-color);
    }
  }

  &--default {
    color: @button-default-color;
    background-color: @button-default-background-color;
    border: @button-border-width solid @button-default-border-color;

    &.c-button--cover {
      .cover(@button-default-color, @button-default-background-color);
    }
  }

  &--success {
    color: @button-success-color;
    background-color: @button-success-background-color;
    border: @button-border-width solid @button-success-border-color;
  }

  &--warning {
    color: @button-warning-color;
    background-color: @button-warning-background-color;
    border: @button-border-width solid @button-warning-border-color;
  }

  &--info {
    color: @button-info-color;
    background-color: @button-info-background-color;
    border: @button-border-width solid @button-info-border-color;
  }

  &--ghost {
    background-color: @button-ghost-background-color;

    &.c-button--primary {
      color: @button-primary-background-color;
    }
  }

  &--large {
    padding: 13px 20px;

    @media (min-width: 768px) {
      height: 48px;
      font-size: 18px;
    }

    @media (max-width: 768px) {
      height: 44px;
      font-size: 14px;
    }
  }

  &--normal {
    padding: 13px 20px;

    @media (min-width: 768px) {
      height: 44px;
      font-size: 14px;
    }

    @media (max-width: 768px) {
      height: 36px;
      font-size: 12px;
    }
  }

  &--small {
    padding: 6px 20px;
    height: 28px;
    font-size: 12px;
  }

  &__loading {
    color: inherit;
    font-size: inherit;

    .c-loading__spinner {
      color: currentColor;
      width: @button-loading-icon-size;
      height: @button-loading-icon-size;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--disabled {
    cursor: not-allowed;
    background: @button-disabled-color;
    border: 1px solid @button-disabled-text-color;
    color: @button-disabled-text-color;
  }

  &--loading {
    cursor: default;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &::before {
      content: ' ';
    }
  }

  &__icon {
    font-size: @button-icon-size;
    line-height: inherit;
  }

  &__icon + &__text,
  &__loading + &__text,
  &__text + &__icon,
  &__text + &__loading {
    margin-left: @padding-base;
  }
}

.cover(@bg, @color) {
  background-color: @bg;
  transition-duration: 0.45s;
  transition-property: color, border;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  &::before {
    background: @color;
    transform-origin: left center;
    transform: scale(1, 1);
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  &:hover {
    color: @color;
    border-color: @color;

    &::before {
      transform-origin: right center;
      transform: scale(0, 1);
    }
  }
}
