@import '../style/var.less';

@button-info-color: @white;
@button-info-background-color: #1ea0f0;
@button-info-border-color: #1ea0f0;
@button-primary-color: @white;
@button-primary-background-color: @black;
@button-primary-border-color: @black;
@button-default-height: 44px;
@button-default-line-height: 1.2;
@button-default-font-size: @font-size-lg;
@button-default-color: @black;
@button-default-background-color: @white;
@button-default-border-color: @black;
@button-success-color: @white;
@button-success-background-color: #00b45a;
@button-success-border-color: #00b45a;
@button-warning-color: @white;
@button-warning-background-color: #fa5050;
@button-warning-border-color: #fa5050;
@button-border-width: @border-width-base;
@button-border-radius: @border-radius-sm;
@button-round-border-radius: @border-radius-max;
@button-ghost-background-color: transparent;
@button-disabled-opacity: @disabled-opacity;
@button-icon-size: 1.2em;
@button-loading-icon-size: 20px;
@button-disabled-color: #fafafa;
@button-disabled-text-color: #d8d8d8;
