@import '../style/font.less';
@import './var.less';
@import '../style/ellipsis.less';

.collapse-title-box {
  color: @black-1;
  align-items: center;
  display: flex;
}
.collapse-title-pad {
  @media (min-width: 768px) {
    padding: 0 16px;
  }
  @media (max-width: 768px) {
    padding: 0 12px;
  }
}

.c-collapse {
  &--normal {
    background: @collapse-normal-background;
    & > .c-collapse-item {
      & > .c-collapse-item__title {
        height: @collapse-title-height;
        background: @collapse-normal-title-background;
        font-size: @font-size-md;
        font-weight: bold;
        .collapse-title-box;
        .collapse-title-pad;
        .c-muli-bold;
        .c-cell__title {
          flex: 1;
          margin: 0 7px 0 4px;
        }
        .c-icon--arrow_right {
          font-size: @font-size-lg;
        }
        &--expanded {
          .c-icon--arrow_right {
            color: @black-1;
          }
        }
      }
    }
  }
  &--zebra {
    & > .c-collapse-item {
      & > .c-collapse-item__title {
        position: relative;
        height: @collapse-title-height;
        background: @collapse-zebra-title-background;
        font-size: @font-size-xl;
        font-weight: 300;
        .collapse-title-box;
        .collapse-title-pad;
        .muli-light();
        .c-cell__title {
          margin: 0 8px;
        }
      }
    }
  }
  &-item {
    &__content {
      & > .c-collapse {
        margin: -12px -16px;
      }
    }
  }
}
