@import '../style/font.less';

.c-input {
  display: inline-flex;

  &__wrapper {
    display: inline-flex;
    width: 100%;
    color: #333;
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    background: #fff;
    transition: border 0.1s;
    .muli-light;

    &--normal {
      padding: 12px;
    }

    &--small {
      padding: 8px;
    }

    &--focused {
      border-color: #000;
    }

    &--readonly {
      cursor: default;
    }

    &--disabled {
      background-color: #fafafa;
      cursor: not-allowed;
      color: #999;
    }

    &--with-addon {
      border-right: 0;
    }
  }

  &__prefix {
    padding-right: 12px;
  }

  &__suffix {
    padding-left: 12px;
  }

  &__prefix,
  &__suffix {
    display: inline-flex;
    align-items: center;
    color: #999;
    cursor: pointer;

    .c-icon {
      font-size: 16px;
    }
  }

  &__control {
    border: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    line-height: 18px;
    font-size: 14px;
    background: transparent;
    cursor: inherit;

    &--textarea {
      line-height: 21px;
      resize: none;
    }

    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  &__addon {
    height: 100%;
  }
}
