@import '../style/font.less';

.c-input {
  display: inline-block;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  background: #fff;
  transition: border 0.1s;
  color: #333;
  cursor: text;

  &--focused {
    border-color: #000;
  }

  &--readonly {
    cursor: inherit;
  }

  &--error {
    border-color: #fa5050;
  }

  &--disabled {
    background-color: #fafafa;
    cursor: not-allowed;
  }

  &__body {
    display: flex;
    align-items: center;
    max-height: 100%;
    height: 100%;
    font-size: 0;
    box-sizing: border-box;

    &--normal {
      padding: 12px;
    }

    &--small {
      padding: 8px 10px;
    }

    &--word-limit {
      padding-bottom: 0;
    }
  }

  &__prefix {
    padding-right: 8px;
  }

  &__suffix {
    padding-left: 8px;
  }

  &__prefix,
  &__suffix {
    color: #333;
    cursor: pointer;

    .c-icon {
      font-size: 16px;
    }
  }

  &__mark {
    font-size: 14px;
    line-height: 18px;
    color: #fa5050;
    .muli-light;
  }

  &__control {
    border: 0;
    padding: 0;
    width: 100%;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    background: transparent;
    cursor: inherit;
    .muli-light;

    &--textarea {
      height: auto;
      line-height: 18px;
      resize: none;
    }

    &:disabled,
    &::placeholder {
      color: #999;
      -webkit-text-fill-color: #999;
    }
  }

  &__word-limit {
    padding: 4px;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #999;
    .muli-light;
  }
}
